<ion-header>
  <ion-toolbar>
    <ion-title>Produk</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" fill="outline" size="small" routerLink="/produk-detail">
        Tambah
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let db of produks" routerLink="#" (click)="detailProduk(db)">
      <ion-thumbnail slot="start">
        <img
          [src]="'https://firebasestorage.googleapis.com/v0/b/pesan-ayam.appspot.com/o/produk%2F' + db.id + '.jpg?alt=media&token=e40d2cd4-8b11-4918-b4eb-34fe90d36be8&sec=' + sec"
          onerror="this.onerror=null;this.src='assets/images/noimage.png'">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div class="text bold">{{db.nama_produk}}</div>

        <table class="text" width="1">
          <tr>
            <td>Harga Modal</td>
            <td>:</td>
            <td>Rp.</td>
            <td>{{db.harga_modal | number}}</td> 
          </tr>
          <tr>
            <td>Harga Jual</td>
            <td>:</td>
            <td>Rp.</td>
            <td>{{db.harga_jual | number}}</td>
          </tr>
        </table>
      </ion-label>
    </ion-item> 
  </ion-list>

  <ion-list *ngIf="produks.length==0">
    <ion-item *ngFor="let db of skl_array">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated style="height:100%;width:100%;"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-skeleton-text class="ion-margin-bottom" animated></ion-skeleton-text>
        <ion-skeleton-text class="ion-margin-bottom" animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <div style="height: 150px;"></div> -->
</ion-content>