<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>
      <table>
        <tr>
          <td>Transaksi hari ini</td>
          <td>:</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Pendapatan hari ini</td>
          <td>:</td>
          <td>0</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

</ion-content>