<ion-tabs>

  <ion-tab-bar slot="bottom" color="danger" mode="md">
    <ion-tab-button tab="beranda">
      <ion-icon name="speedometer"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="produk">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Produk</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pesanan">
      <ion-icon name="bicycle"></ion-icon>
      <ion-label>Pesanan</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="akun">
      <ion-icon name="person"></ion-icon>
      <ion-label>Akun</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>