<ion-header>
  <ion-toolbar>
    <ion-title>Pesanan</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="time" style="font-size: 28px;" [routerLink]="['/pesanan-riwayat']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="data.length==0" class="ion-padding" style="border-radius:8px;height:100%;">
    <ion-skeleton-text animated></ion-skeleton-text>
  </div>

  <div *ngFor="let db of data">
    <ion-card *ngIf="db.data.status!='Selesai'" class="ion-margin-vertical">
      <ion-card-content class="ion-no-padding ion-padding-horizontal"
        style="border-bottom:1px solid #999;font-size: 12px; font-weight: 600;">
        <ion-grid>
          <ion-row>
            <ion-col>No. Pesanan :<br>{{db.data.nota}}</ion-col>
            <ion-col>Waktu pesan :<br>{{db.data.waktu}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-card-content class="ion-no-padding ion-padding-horizontal">
        <ion-grid>
          <ion-row>
            <ion-col>Nama Pembeli:<br>{{db.pembeli_nama}}</ion-col>
            <ion-col>Nomor HP :<br>{{db.pembeli_nomor_hp}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let sub of db.data.sub" class="ion-no-padding">
            <ion-thumbnail slot="start">
              <img
                [src]="'https://firebasestorage.googleapis.com/v0/b/pesan-ayam.appspot.com/o/produk%2F' + sub.id + '.jpg?alt=media&token=e40d2cd4-8b11-4918-b4eb-34fe90d36be8&sec=' + sec"
                onerror="this.onerror=null;this.src='assets/images/noimage.png'">
            </ion-thumbnail>
            <ion-label class="ion-text-wrap ion-no-margin ion-no-padding">
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col class="ion-no-padding">
                    <div class="text bold">{{sub.nama_produk}}</div>
                    <div class="text">Rp {{sub.harga_jual | number}} x {{sub.kuantiti}}</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-card-content>
        <div class="text bold" style="font-size: 16px;">
          Total : Rp {{db.data.total_bayar | number}}
        </div>
      </ion-card-content>
      <ion-card-content>
        <div class="text">
          Alamat Kirim :
        </div>
        <div (click)="launch_map()">
          {{db.data.lokasi.alamat}}
        </div>
      </ion-card-content>
      <ion-card-content>
        <div class="text" style="width:100%;">
          <ion-label>
            Catatan :<br>
            {{db.data.catatan}}
          </ion-label>
        </div>
      </ion-card-content>
      <ion-card-content>
        <div class="ion-margin-bottom">Status saat ini : <b>{{db.data.status}}</b></div>
        <ion-button *ngIf="db.data.status=='Pending'" color="primary" expand="block" (click)="dikirim(db.data.id)">
          Dikirim
        </ion-button>
        <ion-button *ngIf="db.data.status=='Dikirim'" color="success" expand="block" (click)="selesai(db.data.id)">
          Selesai
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>