<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>{{header_title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div *ngIf="produk.id" id="photo" class="photo" [style.backgroundImage]="'url(' + photo + ')'" (click)="selectImageSource()"> -->
  <div id="photo" class="photo" [style.backgroundImage]="'url(' + photo + ')'" (click)="selectImageSource()"></div>

  <ion-list class="ion-margin-vertical">
    <ion-item>
      <ion-label position="stacked">Nama Produk {{produk.photo}}</ion-label>
      <ion-input type="text" [(ngModel)]="produk.nama_produk"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Harga Modal</ion-label>
      <ion-input type="number" [(ngModel)]="produk.harga_modal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Harga Jual</ion-label>
      <ion-input type="number" [(ngModel)]="produk.harga_jual"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Keterangan</ion-label>
      <ion-textarea [(ngModel)]="produk.keterangan"></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="ion-margin-bottom ion-padding">
    <ion-button *ngIf="!produk.id" color="success" expand="block" (click)="addProduk()">Simpan</ion-button>
    <ion-button *ngIf="produk.id" color="success" expand="block" (click)="updateProduk()">Update</ion-button>
    <ion-button *ngIf="produk.id" class="ion-margin-top" color="danger" expand="block" (click)="deleteProduk()">Hapus
    </ion-button>
  </div>
</ion-content>