<ion-header>
  <ion-toolbar>
    <ion-title>Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content class="ion-no-padding">
      <div id="avatar" class="avatar" [style.backgroundImage]="'url(' + avatar + ')'" (click)="update_photo()"></div>

      <!-- <ion-list lines="none">
        <ion-item>
          <ion-label>
            <div class="text" style="font-size: 12px;">Nama :</div>
            <div class="text">Emilya Renata</div>
          </ion-label>
          <ion-button color="medium" fill="outline" size="small" slot="end">ubah</ion-button>
        </ion-item>
        <ion-item>
          <ion-label>
            <div class="text" style="font-size: 12px;">No. HP :</div>
            <div class="text">081234567890</div>
          </ion-label>
          <ion-button color="medium" fill="outline" size="small" slot="end">ubah</ion-button>
        </ion-item>
        <ion-item>
          <ion-label>
            <div class="text" style="font-size: 12px;">Password</div>
          </ion-label>
          <ion-button color="medium" fill="outline" size="small" slot="end">ubah</ion-button>
        </ion-item>
      </ion-list> -->
    </ion-card-content>
  </ion-card>

  <div class="ion-padding ion-margin-vertical">
    <ion-button color="danger" expand="block">Keluar</ion-button>
  </div>
</ion-content>