.avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 6px solid #bbb;
  border-radius: 50%;
  height: 120px;
  margin: 16px auto;
  width: 120px;
}
