/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//-----
ion-back-button {
  --color: #fff;
  --icon-font-size: 26px;
}

ion-card {
  margin: 10px;
}

ion-card-content {
  border-bottom: 1px solid #ddd;
}

ion-col {
  // border: 1px solid rgb(25, 218, 57);
}

ion-content {
  --background: #ecf0f1;
}

ion-header {
  ion-button {
    font-size: 14px !important;
    height: 24px !important;
    min-width: 80px;
  }
}
ion-label {
  // border: 1px solid #ddd;
}

// ion-tab-button {
//   --background: red;
//   --background-focused: yellow;
//   --background-focused-opacity: green;
//   color: #fff;
//   --color-focused: blue;
//   --color-selected: brown;
// }

ion-textarea {
  padding: 0 6px;
}

ion-toolbar {
  --background: #eb445a;
  --color: #fff;
}

//-----
div {
  color: #666;
}

img,
ion-img {
  // border: 1px solid #ddd;
  border-radius: 6px;
}

table {
  width: 100%;
}

td {
  font-size: 14px;
  padding: 2px 6px 2px 0;
}

//-----
.bold {
  font-weight: 600 !important;
}

.peta {
  border: 1px solid #ddd;
  border-radius: 6px;
  height: 160px;
  width: 100%;
}

.text {
  color: #666;
  font-size: 14px;
  // font-weight: 500;
  padding: 0 8px 6px 0;
}

.text-number {
  color: #666;
  font-size: 14px;
  // font-weight: 500;
  text-align: center;
}
